<style>
  .content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="content">
  <p>Olá, {{name}}</p>
  <p>Você solicitou um pedido de redefinição de senha</p>
  <p>Clique no link abaixo para prosseguir:</p>
  <p>
    <a href="{{link}}">Redefinir minha senha</a>
  </p>
  <p>Se você não solicitou nada, desconsidere esse e-mail.</p>
  <p>
    Atensiosamente,<br/>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
